body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #a18cd1, #fbc2eb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    background: linear-gradient(135deg, #ff9a8b, #fad0c4);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

h1, h3 {
    color: white;
    margin: 0;
    padding-bottom: 10px;
}

#inputContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff7e67;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff6347;
}

@media (max-width: 600px) {
    .main {
        padding: 10px;
    }

    input[type="text"]{
        padding: 8px;
    }

    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }
}
